# Node modules
node_modules/

# Cypress videos & screenshots
cypress/videos/
cypress/screenshots/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema operativo
.DS_Store
Thumbs.db

# Configuración de VS Code
.vscode/

# Archivos temporales
*.tmp
*.temp

